/* admin.css */

.admin-dash-container {
max-width: 100%;
margin: 0;
padding: 20px;
background-color: #f5f5f5;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
}

h1 {
text-align: center;
color: #333;
margin-bottom: 20px;
}

.logout-button {
background-color: #e44d26;
color: #fff;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
margin-bottom: 20px;
transition: background-color 0.3s ease-in-out;
position: absolute;
top: 20px;
right: 20px;
width: 150px;
height: 50px;
}

.logout-button:hover {
background-color: #c73c21;
}

.admin-card-container input {
width: 50%;
padding: 10px;
margin-left: 25%;
margin-bottom: 30px;
display: block;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 4px;
}

.admin-card-container {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
width: 100%;
}

.admin-card {
width: calc(20% - 20px);
display: flex;
align-items: center;
justify-content: center;
height: 150px;
padding: 15px;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
margin-bottom: 30px;
}

.admin-card:hover {
transform: scale(1.05);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
margin: 0;
color: #333;
}

h2 {
margin-top: 20px;
color: #333;
}
/* admin.css */

.head {
text-align: center;
margin-bottom: 20px;
}

.head h1 {
font-size: 24px;
margin: 0;
}

.head h3 {
font-size: 18px;
margin: 0;
color: #555;
}

.admin-dash-container h2 {
font-size: 28px;
margin-top: 20px;
}

.admin-card-container {
margin-top: 20px;
}

@media only screen and (max-width: 400px) {
.admin-card {
    width: 100%;
}
}

@media only screen and (max-width: 800px) {
.admin-card {
    width: calc(50% - 20px);
}
}

@media only screen and (max-width: 600px) {
.admin-card {
    width: 100%;
}

input {
    width: 100%;
    margin-left: 0;
}

.head h1 {
    font-size: 20px;
}

.head h3 {
    font-size: 16px;
}

.admin-dash-container h2 {
    font-size: 24px;
}

.logout-button {
    width: 100%;
    margin-right: 0;
}
}


@media only screen and (max-width: 800px) {
.admin-card {
width: calc(33.33% - 20px);
}
}

@media only screen and (max-width: 600px) {
.admin-card {
width: 100%;
}
}
