.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-content {
    text-align: center;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card :hover{
    cursor: pointer;
}

.progress-bar {
    height: 5px;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.7s ease-in-out;
}

.progress-text {
    font-size: 14px;
    color: #777;
}
