.info-section ul{
ul {
list-style-type: none;
padding: 0;
}

li {
margin-bottom: 10px;
padding-left: 20px;
position: relative;
}

li::before {
font-weight: bold;
font-size: 20px;
position: absolute;
left: 0;
top: 5px;
}

}

.text-area {
max-width: 80%;
height: auto;
}

table {
border-collapse: collapse;
max-width: 80%;
height: auto;
margin-top: 30px;
table-layout: auto;
}

th, td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

th {
background-color: #f2f2f2;
}

li {
list-style: none;
}

.button-container {
display: flex;
justify-content: center;
align-items: center;
height: 10vh;
}

.custom-button {
padding: 10px 20px;
font-size: 18px;
background-color: grey;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;

&:hover {
background-color: rgb(83, 82, 82);
}
}

.radioBtn-1_4_1,
.radioBtn-1_4_2 {
margin-top: 20px;
max-width: 1000px;
display: flex;
}

.c-1_1, .c-1_2, .c-1_3, .c-1_4,.crit1-head {
margin: 30px;
padding: 30px;
border: 1px solid #ddd;
}

.yearly_status_rep{
background-color: #ddd;
}

@media only screen and (max-width: 600px) {
.c-1_1, .c-1_2, .c-1_3, .c-1_4,.crit1-head{
margin: 10px;
padding: 10px;
}
.radioBtn-1_4_1,
.radioBtn-1_4_2{
display: flex;
flex-wrap: wrap;
}
table {
border-collapse: collapse;
border-spacing: 0;
width: 100%;
display: block;
overflow-x: auto;
}
}  