.dashboard {
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.criteria-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card-content {
    text-align: center;
}

.progress-container {
    position: relative;
    display: inline-block;
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 30px;
    color: #3498db;
}

.progress-text {
    font-size: 18px;
    color: #555;
}

.logout-btn {
    background-color: red;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 80px;
    height: 40px;
}


@media (max-width: 768px) {
    .criteria-cont {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        flex: 0 0 50%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .CircularProgressBar {
        width: 50px;
    }
}

.logo-e {
    display: flex;
    justify-content: space-between;
}

.logo-e img {
    height: 6rem;
}

.hhv{
    background-color: rgb(228, 194, 129);
}


