/* Global styles for responsive layout */
body {
    margin: 0;
    padding: 0;
}

/* Container for the entire login page */
.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
}

/* Logo styles */
.logo {
    margin-bottom: 20px; /* Added spacing below the logo */
}

.logo img {
    max-width: 100%;
    height: auto;
}

/* Login container styles */
.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* Adjusted width for the login container */
    padding: 20px;
    border: 1px solid #ccc; /* Added a border for better visibility */
    border-radius: 8px; /* Added border-radius for a rounded look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added a subtle box shadow */
}

/* Heading styles */
.login-heading h2, p {
    font-weight: bold;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; /* Centered text */
}

/* Error message styles */
.loginContainer p {
    color: red;
    margin-bottom: 10px;
    text-align: center; /* Centered error message */
}

/* Label styles */
label {
    width: 100%;
    text-align: left; /* Left-align label text */
    margin-bottom: 5px; /* Added spacing below the label */
}

/* Input container styles */
.id-div, .pwd-div {
    width: 100%;
    margin-bottom: 15px; /* Added spacing between input containers */
}

/* Login button styles */
#login-btn {
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login-btn:hover {
    background-color: #333; /* Darken the background on hover */
}

/* Input styles */
input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    /* Adjust styles for screens with a maximum width of 600 pixels */
    .loginContainer {
        width: 90%; /* Adjusted width for smaller screens */
    }
}
